 .board{
    display:grid;
    grid-template-rows: repeat(3,150px);
    grid-template-columns: repeat(3,150px);
    background-color: rgb(164, 170, 152);
    justify-items: center;
    align-items: center;
    justify-content: center;

 
   }
     .box{
        flex: 0 0 32%;
    width: 100px;
    height: 100px;
    background-color: black;
    color:white;
    text-align: center;
    font-size: xxx-large;
 }
